html, body {
  height: 100%;

  margin: 0;
  padding: 0;

}

#map-canvas,#map-canvas, #map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
    
  }

  #map-canvas, #map_canvas {
    height: 650px;
  }
}
#square {
	width: 16px;
	height:16px;
	margin:3px;
	float: left;
}



#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}
.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown; graph bar color set (if hover)
}

.axis {
    font: 8px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}


.customLoadMask {

    filter: alpha(opacity=70);
    opacity: .7;
    background: black;
}

